.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 auto;
  flex-grow: 1;
  overflow-x: hidden;
  color: $black-100-color;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
