.product-card__image {
  display: block;
  margin: auto;
  margin-bottom: 22px;

  @include tablet {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.product-card__link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  color: $black-100-color;

  @include tablet {
    font-size: 22px;
    line-height: 36px;
  }
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 4px;

  @include tablet {
    margin-bottom: 6px;
  }
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 18px;

  @include tablet {
    margin-bottom: 25px;
  }
}

.product-card__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product-card__button {
  min-width: 141px;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../../img/basket.svg");
  background-position: 15% 50%;
  background-repeat: no-repeat;
}
