$white-color: #ffffff;
$white-100-color: #f0ebff;
$white-200-color: #f8f8f8;
$white-300-color: #f3ebe1;
$black-color: #000000;
$black-100-color: #333333;
$black-200-color: rgba(255, 255, 255, 0.00);
$black-300-color: rgba(120, 89, 207, 0.00);
$silver-color: #bdbdbd;
$silver-100-color: #e5e6e8;
$silver-200-color: #e2e2e2;
$violet-color: #7859cf;
$violet-100-color: #eae6fc;
$violet-150-color: #ddd6f3;
$violet-200-color: rgba(120, 89, 207, 0.25);
$violet-300-color: #9070ec;
$violet-400-color: #593cac;
$main-font: "Montserrat", "Arial", sans-serif;
$mobile-width-only: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
